html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

section{
  margin:  0 auto;
  padding: 2em 1em;
}

img {
  width: 100%;
  max-width:  25em;
}

div {
  display: inline-block;
  width: 100%;
  max-width:  25em;
}

h1 {
}

p {
  display: block;
}

a {
  display: block;
  padding: 0.4em 0.5em 0.75em;
}
