html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

section {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
  padding: 2em 0;
}

div {
  display: inline-block;
}

div {
  display: inline-block;
  padding: 0 1em 0;
  vertical-align: top;
  text-align: left;
  max-width: 25em;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 1.5em 0;
}

h2 {
  margin: 0 0;
}

p {
  max-width: 25em;
  margin: 1.5em 0;
}

.btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 0.4em 0.5em 0.75em 0.5em;
  border: 3px solid #333;
  border-radius: 6px;
  background-color: #fff;
}

a:hover {
  display: inline-block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.4em 0.5em 0.75em 0.5em;
  background-color: #666;
}
