html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

section {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
  padding: 2em 0;
}

span {
  display: inline-block;
}

div {
  display: inline-block;
  padding: 0 1em 0;
  vertical-align: top;
  text-align: left;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  margin: 0 0 1.5em 0;
}

h1 {
  margin: 0 0;
}

p {
  max-width: 25em;
  margin: 1.5em 0;
}

button {
  text-align: center;
}

a {
  display: inline-block;
  padding: 0.4em 0.75em 0.5em 0.75em;
  border: 3px solid #333;
  border-radius: 6px;
}
